<div class="container">



    <div class="row" ng-controller="LoginController">
        <div class="row">


            <div class="col-lg-offset-3 col-lg-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for..." ng-model="country">
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="button"  ng-click="search()">Go !</button>
                    </span>
                </div>

            </div>

        </div>

        <br/>
        <div class="row">

            <div class="col-lg-offset-1 col-lg-10">


                <div >


                    <!-- <p>{{ screen[1].id }}</p> -->
                    <div ng-repeat="screen in screens" class="screen col-xs-6">

                        <!-- <div ng-if="screen[1].id !== undefined"> -->
                        <a name="lkr-timelapse-player" data-id="{{ screen.id }}" data-play="day" href="//lookr.com/{{ screen.id }}" target="_blank">Navarredonda de Gredos: Bar el Cruce</a>
                        <script async type="text/javascript" src="//api.lookr.com/embed/script/timelapse.js"></script>
                        <!-- </div> -->
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
